<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IGNACIO HORMAZABAL</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Recibe Bono</th>
        <th>Porcentaje</th>
        <th>Monto Bono</th>
        <th>Estado</th>
        <th>Fecha Pago</th>
        <th>Sueldo Con Bono</th>
        <th>Empleado</th>
        <th>Proyecto</th>
    </tr>
    <tr>
        <td th:text="${Bonos.id}">ID</td>
        <td th:text="${Bonos.recibeBono}">Recibe Bono</td>
        <td th:text="${Bonos.porcentaje}">Porcentaje</td>
        <td th:text="${Bonos.montoBono}">Monto Bono</td>
        <td th:text="${Bonos.estado}">Estado</td>
        <td th:text="${Bonos.fechaPago}">Fecha Pago</td>
        <td th:text="${Bonos.sueldoConBono}">Sueldo Con Bono</td>
        <td th:text="${Bonos.empleado.nombre}">Empleado</td>
        <td th:text="${Bonos.proyecto.nombreProyecto}">Proyecto</td>
    </tr>
</table>
</body>
</html>